{% extends 'base.html' %}

{% block header %}
<div class="jumbotron">
   <div class="container">
     <h1 class="display-4">画像取得くん</h1>
     <p class="lead">Enter the URL</p>
   </div>
 </div>
{% endblock header %}

{% block content %}
<div class="container">
    <p class="">サーバー負荷対策のために、1秒おきに画像を取得しています。</p>
    <p class="">取得に時間がかかる可能性がありますが、気長にお待ちください。</p>
    <p class="text-red">【base64方式の画像は非対応】</p>
<form action='' method='POST'>{% csrf_token %}
<p>URL： <input type="text" name='url'></p>
<input type="submit" value="取得する">
</form>
</div>
{% endblock content %}